<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../cotton-translator/cotton-translator-behavior.html">

<dom-module id="cotton-loading">

    <template>
      <div class="loadingIndicator" hidden$="[[!loadingItems]]" page-size=500 style="height:100%">    
        <paper-spinner active></paper-spinner><span>[[loading]]</span>
      </div>          
    </template>

    <style>
      :host .loadingIndicator {
        font-size: 16px;
        position: relative;
        padding: 10px 0;
        margin: 0;
        text-align: center;
        background-color: var(--loading-background, #efefef);
        width: 100%;
        @apply(--layout-vertical);
        @apply(--layout-center-justified);
        @apply(--layout-center);
        @apply(--cotton-loading);
      }
      :host .loadingIndicator span {
        display: block;
        margin-top: 6px;
        margin-left: 10px;
      }
    </style>

    <script>

        const AmidasLoadingDictionary = {
            es : {
                defaultLoadingMessage : "cargando..."
            },
            en : {
                defaultLoadingMessage : "loading..."
            }
        };

        Polymer({
            is: 'cotton-loading',
            behaviors: [ CottonBehaviors.TranslatorBehavior ],

            properties : {
                loadingMessage : { type: String, value: null }
            },

            attached : function() {
                this.translate(AmidasLoadingDictionary);
                this.loading = this.loadingMessage != null ? this.loadingMessage : this.defaultLoadingMessage;
            }
        });

    </script>
</dom-module>